@media screen and (max-width: 425px) {
    .table {
        font-size: small;
    }
}
@media screen and (max-width: 991px) {
    #chat_icon_all {
        margin-bottom: 4.5rem !important;
    }
    footer.bg-light.text-dark.py-4.mt-4.border-top {
        padding-bottom: 64px !important;
    }
    .carousel-caption.text-white p{
        font-size: small !important;
    }
}

@media (min-width: 992px) {
    #telegramPayment .card-title {
        margin-top: 0 !important;
    }
}

@media (max-width: 550px) {
    .card-payment-form {
        min-height: 100vh !important;
        padding-top: 0 !important;
        padding-bottom: 3.5rem !important;
    }
    #blueOverlay {
        align-items: unset !important;
    }
}

@media (max-width: 495px) {
    .card-payment-form {
        width: 100% !important;
        border-radius: 0px !important;
    }
}