html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

footer {
    width: 100%;
    background-color: #f8f9fa;
    padding: 1rem 0;
}

body {
    font-family: Arial, sans-serif;
}

.card-body {
    align-content: end !important;
    padding: 15px;
    background-color: #fff;
}
.card.h-100{
    border-radius: 10px; 
    overflow: hidden;
}

.card {
    border: 2px solid #ddd !important; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); 
}

.row-cols-1 .col, .row-cols-md-2 .col, .row-cols-lg-3 .col {
    padding-bottom: 20px;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.img-fluid.me-3{
    width: 100%;
    object-fit: contain; 
}

.card-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}

.card-text {
    font-size: 1rem;
    color: #666;
}

#cat{
    padding-left: 0 !important;
}

.navbar-toggler{
    margin-right: 1em !important;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

.slider-wrapper {
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    gap: 15px;
    scroll-behavior: smooth;
    overflow-x: auto;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider-item {
    flex: 0 0 auto;
    overflow: hidden;
    width: 280px;
}

.padb {
    padding-bottom: .5rem;
}
.input-error {
    background-color: #f4e3e7 !important;
    border-color: #e5e9f0 !important;
}
.input-group .input-error {
    border: 0px solid #ffffff00 !important;
}
.input-group .error-message {
    margin-top: 0.6rem;
}
.error-text {
    color: #da302d !important;
}
.error-message {
  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  color: #da302d !important;
  font-size: .875rem !important;
  pointer-events: none;
}
.error-message.show {
  opacity: 1;
  transform: translateY(0);
}
.paymentLogos {
    width: 15%; 
    height: 100%;
}

.paymentLogos img {
    position: absolute;
    right: 15px;
    top: 10px;
    margin-bottom: 0 !important;
}

.floating-input {
    position: relative;
    background-color: #ffffff00;
    border-top: 2px solid #e5e9f0;
    padding: 16px 12px 4px 12px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.floating-input input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 4px 0 2px;
    background: transparent;
    font-family: inherit;
}

.input-group div{
    margin-top: 4px;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: 6px;
    left: 8px !important;
    padding-top: 4px !important;
    background-color: #ffffff00;
    padding-bottom: 0px !important;
    font-size: .8156rem;
    color: #323a4e;
}

.input-group label {
    position: absolute;
    left: 10px;
    top: 20px;
    padding-bottom: 4px !important;
    color: #888;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.2s ease all;
    background: white;
    padding: 0 4px;
    width: 95%;
    display: flex;
    justify-content: flex-start;
}

.floating-input input:focus + label,
.floating-input input:not(:placeholder-shown) + label,
.floating-input input:valid + label {
    top: 6px;
    left: 8px !important;
    background-color: #ffffff00;
    padding-bottom: 0px !important;
    font-size: .8156rem;
    color: #323a4e;
}

.floating-input label {
    position: absolute;
    left: 12px;
    top: 13px;
    color: #888;
    font-size: 1rem;
    padding-bottom: 10px !important;
    pointer-events: none;
    transition: 0.2s ease all;
    background: white;
    padding: 0 4px;
    width: 70%;
    display: flex;
    justify-content: flex-start;
}

.floating-input.cvv-wrapper {
    position: relative;
    padding-right: 40px;
}

.floating-input .toggle-visibility {
    position: absolute;
    top: 51%;
    right: 13px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    font-size: 1.1rem;
}

tui-icon {
    position: relative;
    display: inline-block;
    inline-size: 1em;
    block-size: 1em;
    font-size: 1.5rem;
    flex-shrink: 0;
    vertical-align: middle;
    box-sizing: border-box;
    -webkit-mask: var(--t-icon-bg) no-repeat center / contain;
    mask: var(--t-icon-bg) no-repeat center / contain;
}

tui-icon:after,
tui-icon[tuiIcons]:after {
    content: "";
    position: absolute;
    inset: 0;
    display: block;
    -webkit-mask: var(--t-icon) no-repeat center / contain;
    mask: var(--t-icon) no-repeat center / contain;
    -webkit-mask-composite: source-in, xor;
    mask-composite: intersect;
    background: currentColor;
}

.tui-space_top-8 {
    margin-top: 2rem;
}

.tui-space_top-6 {
    margin-top: 1.5rem;
}

.icons-container,
.network-icon {
    filter: brightness(0) saturate(100%) invert(93%) sepia(6%) saturate(513%) hue-rotate(177deg) brightness(88%) contrast(88%);
}

.icons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.network-icon_not-loaded {
    display: none;
}

.widget-box__content {
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: left;
}

#paymentSelection {
    margin-top: 50px;
}

.selection-btn {
    transition: transform 0.2s;
}

.selection-btn:hover {
    transform: scale(1.05);
}

.card-input-block {
    width: 100%;
    margin: 0 auto;
    border: 2px solid #e5e9f0;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-sizing: border-box;
    font-family: inherit;
}

.card-input-label {
    font-size: 14px;
    font-weight: 500;
    color: #666;
    margin-bottom: 4px;
    display: block;
}

.card-number-input,
.card-expiry-input,
.card-cvv-input {
    width: 100%;
    padding: 10px 12px;
    font-size: 16px;
    border: 2px solid #e5e9f0;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}

.card-input-bottom {
    display: flex;
}

.card-expiry,
.card-cvv {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card-payment-form {
    width: 454px;
    min-height: max-content;
    background: #f6faff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.card-payment-form img {
    max-width: 120px;
    margin-bottom: 10px;
}

.card-payment-form h2 {
    font-size: 16px;
    font-family: inherit;
    color: #233157;
}

.card-payment-form .price {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    color: #242d42;
}

.floating-input:focus-within {
    border-color: #0082fb;
}

.card-payment-form .input-group {
    text-align: left;
}

.card-payment-form .input-group input:focus {
    border-color: #0082fb;
}

.card-payment-form .input-group input {
    width: 100%;
    padding: 8px;
    padding-top: 18px;
    font-size: 16px;
    border: 2px solid #e5e9f0;
    border-radius: 5px !important;
    margin-top: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.card-payment-form .email-group {
    margin-top: 0.9em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-group label {
    color: #8e95a0;
}

.card-payment-form .email-group input[type="checkbox"] {
    margin-right: 10px;
    border: 2px solid #e5e9f0;
}

.card-payment-form .pay-button {
    background: #0080f9;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1.2rem;
}

.btn-back {
    position: absolute;
    top: 10px;
    left: 10px;
    background: transparent;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    color: #6c757d;
    display: flex;
    align-items: center;
    transition: color 0.2s, transform 0.2s;
}

.btn-back i {
    font-size: 1rem;
    margin-right: 3px;
}

.btn-back:hover {
    color: #495057;
    transform: translateX(-3px);
}

#blueOverlay {
    overflow-y: auto;
    min-height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: none;
    align-items: center;
    justify-content: center;
}

.blue-background {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 38, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
}

#cardPaymentModal {
    font-family: "Roboto", "Segoe UI", "Helvetica Neue", sans-serif !important;
    color: #222d41;
    height: max-content;
    max-width: 100%;
    position: relative;
    z-index: 2;
    animation: fadeIn 0.3s ease;
}

.spinner {
    width: 80px;
    height: 80px;
    border: 8px solid #fff;
    border-top: 8px solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

body.modal-open {
    overflow: hidden;
}

#CardNumber {
    width: 85%;
    display: flex;
}